# shellcheck shell=bash
# this caches nix setup, making day-to-day nix usage much faster.
# see flake.nix for our nix setup
use flake

# ensure gems from this env don't mess with gems from other environments
cache_version=v1 # bump this if flake.nix changes in a way that breaks rubygems
flake_sum=$(md5sum <flake.lock | cut -d ' ' -f 1)
export GEM_HOME=.gem/"$cache_version-$flake_sum"
# hack to get gem executables on path (I don't know why nix doesn't do this
# although I understand it's not nix-ey to use multiple package managers.)
PATH=$(gem env | sed -n 's/^.*EXECUTABLE DIRECTORY: \(.*\)$/\1/p'):$PATH

# add bin/ executables
PATH=$(pwd)/bin:$PATH

# load local env overrides
if [ -f "local_env.sh" ]; then
  source_env "local_env.sh"
fi

# nix tempdirs are so long that they sometimes are invalid places to put socket files.
# Unsetting the TEMPDIR ensure that the socket used by bin/tunnel_admin works
# we can probably remove this when https://github.com/NixOS/nixpkgs/issues/84803 is fixed.
unset TMPDIR
unset TMP
unset TEMP
unset TEMPDIR
